body{
	background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
	background-size: 500%;
	animation: fanimado 5s infinite;
	 font-family: 'Montserrat';font-size: 15px;

}
h1 {color: white;}
h2 {color: white;}
h3 {color: white;}
h4 {color: white;}

p {color: white;}





.nav-item{
	padding-right: 12px;
	padding-left: 12px;

}
.nav-link.active{
	background-color: lightgrey !important;
}

.caja-video video {
  width: 100%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

}

.caja-video::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reserva-central {margin:auto; padding-top: 50px;}

.combo {margin-left: auto;}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}





h6{color: white;font-size: 15px;}
@keyframes fanimado {
	0% { background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){

 .only-mobile{
  visibility:visible;
  }
}

.footer-area {margin-left: 50px;display: flex; flex-direction: column; padding-top: 50px; display: flex;justify-content: space-around;}

.footer-logo .footer-info li {
  margin-top: 20px; }
  .footer-logo .footer-info li .single-info {
    position: relative; }
    .footer-logo .footer-info li .single-info .info-icon {
      position: absolute;
      top: 3px;
      left: 0; }
      .footer-logo .footer-info li .single-info .info-icon i {
        font-size: 18px;
        color: .footer-logo .footer-info li .single-info .info-icon i theme-color; }
    .footer-logo .footer-info li .single-info .info-content {
      padding-left: 30px; }

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 15px; }
  .footer-logo .footer-social li:first-child {
    margin-left: 0; }
  .footer-logo .footer-social li a {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
		}

.reserva-central {
	margin-left: 50px;
}

ul {list-style-type: none;}
